<!--header section start -->
<div class="overlay"></div>
<div class="header_section" id="header_section">
  <div class="header_bg">
    <div class="container">
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand text-start" href="#" style="  color: #ffc107;">مكتبتكو</a>
          <img src="/images/logo (3).png" width="50px">
        </div>
      </nav>
    </div>
  </div>


  <!--banner section start -->
  <div class="banner_section layout_padding">
    <div id="my_slider" class="carousel slide">
      <div class="carousel-inner" style="margin-top: 3rem;">
        <div class="carousel-item active">
          <div class="container">
            <div class="banner_taital_main">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="banner_taital">Maktabtoko</h1>
                  <p class="banner_text">مرحبًا بك في موقعنا الذي يعتبر وجهتك المثالية للعثور على كل ما تحتاجه </p>
                  <div class="btn_main">
                    <div class="about_bt "><a href="/home">الصفحة الرئيسية</a></div>
                    <div class="quote_bt"><a href="/register">تسجيل الدخول</a></div>
                  </div>
                </div>
              </div>
              <div class=" m-5 text-center">
                <h1 class=" p-2 btn btn-warning display-1">أسعار الباقات الاشتراك </h1>
              </div>
              <div class="row m-2">
                {{!-- card 1 --}}
                <div class="col-md-4">
                  <div class="card">
                    <div class="header">
                      <span class="title">المكتبات</span>
                    </div>
                    <p class="desc">اسعار الباقات </p>
                    <p class="desc">يرجي التواصل معانا قبل الدفع او الاشتراك</p>
                    <ul class="lists">
                      <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                        </svg><span> لكل شهر </span>
                        <span class="text-warning"> &nbsp; {{cardlib.oneMontlib}} &pound</span>
                      </li>
                      <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                        </svg>
                        </svg><span> لكل شهرين </span>
                        <span class="text-warning"> &nbsp; {{cardlib.twoMontlib}} &pound</span>
                      </li>
                      <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                        </svg>
                        </svg><span> لكل 3 شهور </span>
                        <span class="text-warning"> &nbsp; {{cardlib.threeMontlib}} &pound</span>
                      </li>
                    </ul>
                    <a href="https://wa.me/+201064214425?text=" class="action" target="_blank">
                      التواصل عبر واتساب
                    </a>
                  </div>
                </div>
                {{!-- card 1 --}}
                <div class="col-md-4">
                  <div class="card">
                    <div class="header">
                      <span class="title">الأكاديميات</span>
                    </div>
                    <p class="desc">اسعار الباقات </p>
                    <p class="desc"> يرجي التواصل معانا قبل الدفع او الاشتراك</p>
                    <ul class="lists">
                      <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                        </svg><span> لكل شهر </span>
                        <span class="text-warning"> &nbsp; {{cardaca.oneMontAcd}} &pound</span>
                      </li>
                      <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                        </svg>
                        </svg><span> لكل شهرين </span>
                        <span class="text-warning"> &nbsp; {{cardaca.twoMontAcd}} &pound</span>
                      </li>
                      <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                        </svg>
                        </svg><span> لكل 3 شهور </span>
                        <span class="text-warning"> &nbsp; {{cardaca.threeMontAcd}} &pound</span>
                      </li>
                    </ul>
                    <a href="https://wa.me/+201064214425?text=" class="action" target="_blank">
                      التواصل عبر واتساب
                    </a>
                  </div>
                </div>
                {{!-- card 1 --}}
                <div class="col-md-4">
                  <div class="card">
                    <div class="header">
                      <span class="title">متاجر كتب</span>
                    </div>
                    <p class="desc">اسعار الباقات </p>
                    <p class="desc">يرجي التواصل معانا قبل الدفع او الاشتراك</p>
                    <ul class="lists">
                      <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                        </svg><span> لكل شهر </span>
                        <span class="text-warning"> &nbsp; {{cardbuy.oneMontlibBuy}} &pound</span>
                      </li>
                      <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                        </svg>
                        </svg><span> لكل شهرين </span>
                        <span class="text-warning"> &nbsp; {{cardbuy.twoMontlibBuy}} &pound</span>
                      </li>
                      <li class="list">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                        </svg>
                        </svg><span> لكل 3 شهور </span>
                        <span class="text-warning"> &nbsp; {{cardbuy.threeMontlibBuy}} &pound</span>
                      </li>
                    </ul>
                    <a href="https://wa.me/+201064214425?text=" class="action" target="_blank">
                      التواصل عبر واتساب
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--banner section end -->
</div>
<!--header section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
  <div class="container">
    <div class="text-center ">
      <div style="padding: 30px;background-color: #FDFEFE;border-radius: 20px;"></div>
    </div>
    <div class="footer_section_2">
      <div class="row">
        <div class="col-lg-3 margin_top">
          <div class="call_text"><a href="#"><img src="/images/call-icon1.png"><span class="padding_left_15">Call Now
                +201064214425</span></a></div>
          <div class="call_text"><a href="#"><img src="/images/mail-icon1.png"><span
                class="padding_left_15">maktabtoko@gmail.com</span></a></div>
        </div>
        <div class="col-lg-3">
          <div class="information_main">
            <h4 class="information_text">social media</h4>
            <p class="many_text">
              Facebook
              <br>
              Twitter
              <br>
              LinkedIn
              <br>
              Instgram
              <br>
              Youtube
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="information_main">
            <h4 class="information_text">Our Services</h4>
            <p class="many_text">
              Study office services
              <br>
              educational services
              <br>
              commercial services
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="information_main">
            <h4 class="information_text">Quick Linkes</h4>
            <p class="many_text">
              Home
              <br>
              Login
              <br>
              Register
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
  <div class="container">
    <p class="copyright_text">© 2024 All Rights Reserved. <a
        href="https://www.facebook.com/profile.php?id=100078522217484" target="_blank">CodeCome</a></p>
  </div>
</div>
<!-- copyright section end -->